<div class="container">
    <article class="">
      <% @questions.each do |question| %>
      <section>
        <a href="/questions/<%= question.id%>"><%= question.title%></a>
        <p class='question-body'><%= question.body[0..224]%></p>
      </section>
      <% end %>
    </article>

    <a href="/questions/new">Create a new question</a>
</div>
