<form class="" action="/answers/<%= @answer.id%>/comments" method="post">
  <div class="">
    <textarea name="comment[body]" rows="6" cols="90"></textarea>
  </div>
  <input type="submit" name="name" value="Add comment">
</form>
