<div class="">
  <form class="" action="index.html" method="post">
    <textarea name="name" rows="8" cols="40"></textarea>
    <input type="submit" name="name" value="Add comment">
  </form>

</div>
